@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap');
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

canvas{
    background-color: beige;
}

body{
    text-align: center;
    display: block;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    background-color: #F5F8FA;
    color: #34364C;
    height: 100vh;
    width: 100vw;
    padding-top:10px;
}

.containerCanvas{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.05);
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.1);
    max-width: 350px;   
}

.containerCanvas h3{
    margin-top: 10px;
}

canvas{
    border-radius: 3px;
}

#entrada{
    margin: 5px;
    height: 157px;
}

textarea{
    resize: none;
    width: 150px;
    height: 300px;
}

.divEntrada{
    display: flex;
    flex-direction: column;
}

form{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    margin: 10px;
}

.resultadoM{
    display: block;
    border-radius: 8px;
    margin: 0 auto;
    text-align: left;
    width: fit-content;
    height: fit-content;
    padding: 15px;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.02);
    background-color: white;
    animation: fadeIn 1s;
    margin-top: 15px;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }   
}

.conteudoSpline{
    height: 300px;
    margin: auto;
    width: 600px;
}

textarea {
    resize: none;
    border: solid 1px gainsboro;
    padding: 2px;
    box-shadow: inset 0 0 3px 5px rgba(0,0,0,0.02);
    font-size: 16px;
    text-align: center;
    overflow: hidden;
}

textarea:focus{
    border: solid 1px rgb(80, 144, 255);
}

#botaoGet{
    background-color: #7B61FF;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-weight: 400;
    font-family: 'Inter';
    color: white;
    cursor: pointer;
    animation-play-state: paused;
}

#botaoGet:hover{
    animation-play-state: running;
}

.modal{
    animation: fadeIn 1s;
}

.cavaloRoda{
    height: fit-content;
    width: 500px;
}

.modal{
    padding-top: 10px;
}

footer{
    bottom: 0;
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

.title h1{
    font-weight: 800;
}
.title p{
    font-weight: 400;
}

progress{
    max-width: 200px;
}

.toast{
    opacity: 1 !important;
}

.explicacao{
    all: unset;
    font-size: 16px;
    animation-play-state: paused;
    cursor: pointer;
}

.explicacao:hover{
    animation-play-state: running;
}